{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<section class="container shadow mb-5 p-3">
    <h1 class="display-6 fw-bold text-center mb-3">Buy</h1>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol"
                placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" class="form-control mx-auto w-auto" min="1" id="shares" name="shares"
                placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
</section>
{% endblock %}