{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<section class="container shadow mb-5 p-3">
    <h1 class="display-6 fw-bold text-start mb-3">Transaction History</h1>
    <table class="table table-dark tablestriped">
        <thead>
            <tr>
                <th class="text-start">Type</th>
                <th class="text-start">Symbol</th>
                <th class="text-start">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {%for transaction in transactions%}
            <tr>
                <td class="text-start">{{transaction["type"]}}</td>
                <td class="text-start">{{transaction["symbol"]}}</td>
                <td class="text-start">{{transaction["shares"]}}</td>
                <td class="text-end">{{transaction["price"] | usd }}</td>
                <td class="text-end">{{transaction["time"]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</section>
{% endblock %}