{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<section class="container shadow mb-5 p-3">
    <h1 class="display-6 fw-bold text-center mb-3">Quote</h1>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol"
                placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
</section>
{% endblock %}