{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}
<section class="container shadow mb-5 p-3">
    <h1 class="display-6 fw-bold text-center mb-3">Quoted</h1>
    <p>A share of {{ quote["name"] }} ({{ quote["symbol"] }}) costs {{ quote["price"] | usd }}</p>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares"
                placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit" name="symbol" value="{{quote["symbol"]}}">Buy {{
            quote["symbol"] }}</button>
    </form>
</section>
{% endblock %}